*.pot
*.mo
*.po~
/P5/Source/_pot/
/P5/Source/_mo/

# dirs and files made by html build
/P5/DTD/
/P5/Guidelines-web/
/P5/Schema/
/P5/Utilities/guidelines.xsl
/P5/anything
/P5/check.stamp
/P5/html-web.stamp
/P5/p5.isosch
/P5/p5.isosch.xsl
/P5/p5.xml
/P5/p5attlist.txt
/P5/p5examples.isosch.xsl
/P5/p5odds-examples.rnc
/P5/p5odds-examples.rng
/P5/p5odds.isosch
/P5/p5odds.isosch.xsl
/P5/p5odds.message.isosch.xsl
/P5/p5odds.rnc
/P5/p5odds.rng
/P5/p5subset.js
/P5/p5subset.json
/P5/p5subset.xml
/P5/schemas.stamp
/P5/stripspace.xsl.model
